In [17]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

# <font color = 'pickle'>***Setting the environment and Loading Data***

In [2]:
# importing packages
import numpy as np
import pandas as pd
import matplotlib.colors as colors
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.ensemble import RandomForestClassifier
from ucimlrepo import fetch_ucirepo

In [19]:
default_info = fetch_ucirepo(id = 350)
default_info

{'data': {'ids':           ID
  0          1
  1          2
  2          3
  3          4
  4          5
  ...      ...
  29995  29996
  29996  29997
  29997  29998
  29998  29999
  29999  30000

  [30000 rows x 1 columns],
  'features':            X1  X2  X3  X4  X5  X6  X7  X8  ...    X16    X17    X18    X19    X20   X21    X22   X23
  0       20000   2   2   1  24   2   2  -1  ...      0      0      0    689      0     0      0     0
  1      120000   2   2   2  26  -1   2   0  ...   3455   3261      0   1000   1000  1000      0  2000
  2       90000   2   2   2  34   0   0   0  ...  14948  15549   1518   1500   1000  1000   1000  5000
  3       50000   2   2   1  37   0   0   0  ...  28959  29547   2000   2019   1200  1100   1069  1000
  4       50000   1   2   1  57  -1   0  -1  ...  19146  19131   2000  36681  10000  9000    689   679
  ...       ...  ..  ..  ..  ..  ..  ..  ..  ...    ...    ...    ...    ...    ...   ...    ...   ...
  29995  220000   1   3   1  39   0   0   0  ...  31237  15980   8500  20000   5003  3047   5000  1000
  29996  150000   1   3   2  43  -1  -1  -1  ...   5190      0   1837   3526   8998   129      0     0
  29997   30000   1   2   2  37   4   3   2  ...  20582  19357      0      0  22000  4200   2000  3100
  29998   80000   1   3   1  41   1  -1   0  ...  11855  48944  85900   3409   1178  1926  52964  1804
  29999   50000   1   2   1  46   0   0   0  ...  32428  15313   2078   1800   1430  1000   1000  1000

  [30000 rows x 23 columns],
  'targets':        Y
  0      1
  1      1
  2      0
  3      0
  4      0
  ...   ..
  29995  0
  29996  0
  29997  1
  29998  1
  29999  1

  [30000 rows x 1 columns],
  'original':           ID      X1  X2  X3  X4  X5  X6  X7  ...    X17    X18    X19    X20   X21    X22   X23  Y
  0          1   20000   2   2   1  24   2   2  ...      0      0    689      0     0      0     0  1
  1          2  120000   2   2   2  26  -1   2  ...   3261      0   1000   1000  1000      0  2000  1
  2          3   90000   2   2   2  34   0   0  ...  15549   1518   1500   1000  1000   1000  5000  0
  3          4   50000   2   2   1  37   0   0  ...  29547   2000   2019   1200  1100   1069  1000  0
  4          5   50000   1   2   1  57  -1   0  ...  19131   2000  36681  10000  9000    689   679  0
  ...      ...     ...  ..  ..  ..  ..  ..  ..  ...    ...    ...    ...    ...   ...    ...   ... ..
  29995  29996  220000   1   3   1  39   0   0  ...  15980   8500  20000   5003  3047   5000  1000  0
  29996  29997  150000   1   3   2  43  -1  -1  ...      0   1837   3526   8998   129      0     0  0
  29997  29998   30000   1   2   2  37   4   3  ...  19357      0      0  22000  4200   2000  3100  1
  29998  29999   80000   1   3   1  41   1  -1  ...  48944  85900   3409   1178  1926  52964  1804  1
  29999  30000   50000   1   2   1  46   0   0  ...  15313   2078   1800   1430  1000   1000  1000  1

  [30000 rows x 25 columns],
  'headers': Index(['ID', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
         'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
         'X21', 'X22', 'X23', 'Y'],
        dtype='object')},
 'metadata': {'uci_id': 350,
  'name': 'Default of Credit Card Clients',
  'repository_url': 'https://archive.ics.uci.edu/dataset/350/default+of+credit+card+clients',
  'data_url': 'https://archive.ics.uci.edu/static/public/350/data.csv',
  'abstract': "This research aimed at the case of customers' default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods.",
  'area': 'Business',
  'tasks': ['Classification'],
  'characteristics': ['Multivariate'],
  'num_instances': 30000,
  'num_features': 23,
  'feature_types': ['Integer', 'Real'],
  'demographics': ['Sex', 'Education Level', 'Marital Status', 'Age'],
  'target_col': ['Y'],
  'index_col': ['ID'],
  'has_missing_values': 'no',
  'missing_values_symbol': None,
  'year_of_dataset_creation': 2009,
  'last_updated': 'Fri Mar 29 2024',
  'dataset_doi': '10.24432/C55S3H',
  'creators': ['I-Cheng Yeh'],
  'intro_paper': {'ID': 365,
   'type': 'NATIVE',
   'title': 'The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients',
   'authors': 'I. Yeh, Che-hui Lien',
   'venue': 'Expert systems with applications',
   'year': 2009,
   'journal': None,
   'DOI': '10.1016/j.eswa.2007.12.020',
   'URL': 'https://www.semanticscholar.org/paper/1cacac4f0ea9fdff3cd88c151c94115a9fddcf33',
   'sha': None,
   'corpus': None,
   'arxiv': None,
   'mag': None,
   'acl': None,
   'pmid': None,
   'pmcid': None},
  'additional_info': {'summary': "This research aimed at the case of customers' default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. Because the real probability of default is unknown, this study presented the novel Sorting Smoothing Method to estimate the real probability of default. With the real probability of default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. Therefore, among the six data mining techniques, artificial neural network is the only one that can accurately estimate the real probability of default.",
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:\r\nX1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.\r\nX2: Gender (1 = male; 2 = female).\r\nX3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).\r\nX4: Marital status (1 = married; 2 = single; 3 = others).\r\nX5: Age (year).\r\nX6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.\r\nX12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. \r\nX18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.\r\n',
   'citation': None}},
 'variables':    name     role     type      demographic                 description units missing_values
 0    ID       ID  Integer             None                        None  None             no
 1    X1  Feature  Integer             None                   LIMIT_BAL  None             no
 2    X2  Feature  Integer              Sex                         SEX  None             no
 3    X3  Feature  Integer  Education Level                   EDUCATION  None             no
 4    X4  Feature  Integer   Marital Status                    MARRIAGE  None             no
 5    X5  Feature  Integer              Age                         AGE  None             no
 6    X6  Feature  Integer             None                       PAY_0  None             no
 7    X7  Feature  Integer             None                       PAY_2  None             no
 8    X8  Feature  Integer             None                       PAY_3  None             no
 9    X9  Feature  Integer             None                       PAY_4  None             no
 10  X10  Feature  Integer             None                       PAY_5  None             no
 11  X11  Feature  Integer             None                       PAY_6  None             no
 12  X12  Feature  Integer             None                   BILL_AMT1  None             no
 13  X13  Feature  Integer             None                   BILL_AMT2  None             no
 14  X14  Feature  Integer             None                   BILL_AMT3  None             no
 15  X15  Feature  Integer             None                   BILL_AMT4  None             no
 16  X16  Feature  Integer             None                   BILL_AMT5  None             no
 17  X17  Feature  Integer             None                   BILL_AMT6  None             no
 18  X18  Feature  Integer             None                    PAY_AMT1  None             no
 19  X19  Feature  Integer             None                    PAY_AMT2  None             no
 20  X20  Feature  Integer             None                    PAY_AMT3  None             no
 21  X21  Feature  Integer             None                    PAY_AMT4  None             no
 22  X22  Feature  Integer             None                    PAY_AMT5  None             no
 23  X23  Feature  Integer             None                    PAY_AMT6  None             no
 24    Y   Target   Binary             None  default payment next month  None             no}

In [9]:
# reading in the data
default_risk = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls', header=1)

In [10]:
default_risk.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2          2  ...         0         0         0                           1
1   2     120000    2          2  ...      1000         0      2000                           1
2   3      90000    2          2  ...      1000      1000      5000                           0
3   4      50000    2          2  ...      1100      1069      1000                           0
4   5      50000    1          2  ...      9000       689       679                           0

[5 rows x 25 columns]

<font color = 'pickle'>*The target variable is the last column of the dataset, 'default_payment_next_month.' The other columns with the exception of the id column will be features relevant to the classification task.*

In [12]:
default_risk.rename({'default_payment_next_month':'default'}, axis = 'columns', inplace = True)

default_risk.drop('ID', axis = 1, inplace = True)

default_risk.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0      20000    2          2         1  ...         0         0         0                           1
1     120000    2          2         2  ...      1000         0      2000                           1
2      90000    2          2         2  ...      1000      1000      5000                           0
3      50000    2          2         1  ...      1100      1069      1000                           0
4      50000    1          2         1  ...      9000       689       679                           0

[5 rows x 24 columns]

# <font color = 'pickle'>***Data Preprocessing***

<font color  = 'pickle'>*Notice there are no n/a or missing values from any of the columns.*

In [13]:
default_risk.isna().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [14]:
default_risk.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

<font color = 'pickle'>*Below we have some invalid values present in the marriage and education columns. Education is mentioned in the data card as having values from 1-6 and marriage is mentioned as having values from 1-3. These erroneous values need to be removed from the dataset.*

In [16]:
# Checking the unique values within each of the following columns.

print(default_risk['EDUCATION'].unique())
print(default_risk['MARRIAGE'].unique())
print(default_risk['SEX'].unique())
print(default_risk['AGE'].unique())

[2 1 3 5 4 6 0]
[1 2 3 0]
[2 1]
[24 26 34 37 57 29 23 28 35 51 41 30 49 39 40 27 47 33 32 54 58 22 25 31
 46 42 43 45 56 44 53 38 63 36 52 48 55 60 50 75 61 73 59 21 67 66 62 70
 72 64 65 71 69 68 79 74]

In [28]:
print(len(default_risk.loc[default_risk['EDUCATION']== 0 ]))

print(len(default_risk.loc[default_risk['MARRIAGE']==0]))

14
54

In [31]:
default_risk = default_risk.loc[(default_risk['EDUCATION'] != 0 ) & (default_risk['MARRIAGE'] != 0)]
print(len(default_risk.loc[(default_risk['EDUCATION']==0)]| (default_risk['MARRIAGE']==0)))

0

In [ ]:
plt.figure(figsize = (12,8))